#parse('/mail-templates/general/header.vm')
<tr class="">
    <td align="left" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;" class="">
		<span class="headline_1"
          style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 28px; padding: 0px; margin: 0px; font-weight: 300; line-height: 28px; text-align: left;">
      #msg("email.changed.head")
    </span>
    </td>
</tr>
<tr class="">
    <td align="left" class="body_text"
        style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 16px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
      #parse('/mail-templates/general/salutation.vm')
        <p>#msg("email.changed.intro")</p>
    </td>
</tr>

#parse('/mail-templates/general/footer.vm')