Servers
target
*/bin
*.log*
*/.factorypath
.buildpath
.metadata
.settings
.recommenders
.classpath
.project
.springBeans
mail/.settings/*
cloud/.settings/*
/messaging/.settings/
/model-nosql/.settings/
/model/.settings/
/web/.settings/
/billing/.settings/
.idea/*
!.idea/codeStyles/
/intellij/*
*.iml
*.errors
reviewdog
*.out
*.log.gz
