#parse('/mail-templates/general/header.vm')
<tr class="">
    <td align="left" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;" class="">
    <span class="headline_1"
          style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 28px; padding: 0px; margin: 0px; font-weight: 300; line-height: 28px; text-align: left;">
      #msg("flat.published.head")
    </span>
    </td>
</tr>
<tr class="">
    <td height="12" class="v_space"
        style="height: 12px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;"></td>
</tr>
<tr class="">
    <td align="left" class="body_text"
        style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 16px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
        <p>#msg("flat.published.text")</p>
    </td>
</tr>

#parse('/mail-templates/general/footer.vm')