#parse('/mail-templates/general/header.vm')
<tr class="">
    <td align="left" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;" class="">
		<span class="headline_1"
          style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 28px; padding: 0px; margin: 0px; font-weight: 300; line-height: 28px; text-align: left;">
      #msg("application.known.head")
    </span>
    </td>
</tr>
<tr class="">
    <td height="12" class="v_space"
        style="height: 12px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;"></td>
</tr>
<tr class="">
    <td align="left" class="body_text"
        style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 16px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
      #parse('/mail-templates/general/flat.vm')
      #parse('/mail-templates/general/salutation.vm')

        <p>#msg("application.known.intro")</p>
        <p>#msg("application.known.main")</p>
    </td>
</tr>
<tr>
    <td align="center" class="button" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
        <table bgcolor="#55acee" height="40" border="0" cellspacing="0" cellpadding="0" align="left"
               style="white-space: nowrap; border-style: none; text-align: center; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
            <tbody>
            <tr>
                <td class="spacer" width="30" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
                    &nbsp;
                </td>
                <td height="40" align="center" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
                    <a href="$property.applicationLink" style="color: rgb(255,255,255);  font-size: 14px; letter-spacing: 0.02em; font-weight: bold; white-space: nowrap; overflow: hidden; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 14px; text-decoration: none; border: 0px; padding: 0px; margin: 0px;" target="_blank">
                        <span style="border-style: none; text-decoration: none; color: rgb(255,255,255); line-height: 14px;">
                            #msg("application.known.button")
                        </span>
                    </a>
                </td>
                <td class="spacer" width="30" style="padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
                    &nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr style="font-size:small;">
    <td align="left" class="body_text"
        style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 12px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
        <p> #msg("application.known.linknotshown") </p>
      $property.applicationLink
    </td>
</tr>
<tr style="display: inline">
    <td height="12" class="v_space"
        style="height: 12px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;"></td>
</tr>
<tr>
    <td align="left" class="body_text"
        style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;  color: rgb(102,117,127); font-size: 16px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
        <p> #msg("application.known.footer") </p>
    </td>
</tr>

#parse('/mail-templates/general/footer.vm')
